@model IEnumerable<Personal_Portfolio2.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table">
    <tr>
        <th>Project Name</th>
        <th>Description</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
        </tr>
    }
</table>
